<div class="login-container">
  <mat-card class="login-card">
    <h1 class="title">Entrar</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Digite seu email" formControlName="email" type="email" />
        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email é obrigatório.</mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Email inválido.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
      
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Digite sua senha"
          formControlName="password"
        />
      
        <!-- Aqui só existe UM matSuffix -->
        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="hidePassword ? 'Mostrar senha' : 'Ocultar senha'"
        >
          <mat-icon>
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </button>
      
        <mat-error *ngIf="loginForm.get('password')?.hasError('required')">
          Senha é obrigatória.
        </mat-error>
      </mat-form-field>
      
      


      <div class="links-container">
        <a class="link" routerLink="/recovery">Esqueci minha senha</a>
        <a class="link" routerLink="/register">Criar conta</a>
      </div>

      <button mat-raised-button color="primary" class="login-button" type="submit" [disabled]="loginForm.invalid || loading">
        ENTRAR
      </button>
    </form>
  </mat-card>
</div>

<div class="overlay" *ngIf="loading">
  <mat-progress-spinner mode="indeterminate" diameter="60"></mat-progress-spinner>
</div>
