<div class="login-container">
    <mat-card class="login-card">
      <h1 class="title">Verificar Código</h1>
  
      <form [formGroup]="verifyForm" (ngSubmit)="onVerify()">
  
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>OTP</mat-label>
          <input matInput formControlName="otp" maxlength="6" />
        </mat-form-field>
  
        <div class="links-container">
          <a class="link" routerLink="/login">Voltar</a>
        </div>
  
        <button mat-raised-button color="primary" class="login-button" type="submit">
          Verificar
        </button>
      </form>
    </mat-card>
  </div>
  